<div class="container">
  <div class="row">
    <div class="col-xs-offset-2 col-xs-7">
      <h1>Productos</h1>
      <div class="text-right">
        <%= link_to "Nuevo Producto", new_product_path, class: "btn btn-primary" %>
      </div>
      <hr>
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>PRODUCTO</th>
            <th>PRECIO</th>
            <th>CATEGORIA</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @productos.each do |producto| %>
          <tr>
            <td><%= producto.name %></td>
            <td><%= producto.price%></td>
            <td><%= producto.categories.pluck(:name).join(",") %></td>
            <td><%= link_to "<span class='glyphicon glyphicon-trash'><span>".html_safe, producto, method: :delete, data: { confirm: '¿Seguro?' } %></td>
            <td><%= link_to "<span class='glyphicon glyphicon-pencil'><span>".html_safe,  edit_product_path(producto) %></td>
          </tr>
          <% end %>
        </tbody>
      </table>

    </div>
  </div>
</div>
